# Scala: Python Data Sets

In [8]:
import statsmodels.api as sm
crime = sm.datasets.get_rdataset("UScrime", "MASS")

In [13]:
crime.data.to_csv('crime.csv', index=False)


This data frame contains the following columns:

M
percentage of males aged 14–24.

So
indicator variable for a Southern state.

Ed
mean years of schooling.

Po1
police expenditure in 1960.

Po2
police expenditure in 1959.

LF
labour force participation rate.

M.F
number of males per 1000 females.

Pop
state population.

NW
number of non-whites per 1000 people.

U1
unemployment rate of urban males 14–24.

U2
unemployment rate of urban males 35–39.

GDP
gross domestic product per head.

Ineq
income inequality.

Prob
probability of imprisonment.

Time
average time served in state prisons.

y
rate of crimes in a particular category per head of population.

In [14]:
sm.datasets.get_rdataset("USPersonalExpenditure", "datasets").data.head()

                       1940    1945   1950  1955   1960
Food and Tobacco     22.200  44.500  59.60  73.2  86.80
Household Operation  10.500  15.500  29.00  36.5  46.20
Medical and Health    3.530   5.760   9.71  14.0  21.10
Personal Care         1.040   1.980   2.45   3.4   5.40
Private Education     0.341   0.974   1.80   2.6   3.64